.scene-button {
    opacity: 0;
}

.button-glow {
    transition: all 0.3s ease-in-out;
  }
  
.button-glow:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3);
}