@import "tailwindcss";
@import "../styles/layouts.css";
@import "../styles/scene.css";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularDisplay-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Degular", sans-serif;
  font-size: 16px;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1.main-title {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}
